@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Stylish&display=swap');

.quotes {
  font-family: 'Stylish', sans-serif;
  font-size: 1.3rem;
  color: #454545
}

.author {
  font-family: 'Stylish', sans-serif;
  font-size: 1.2rem;
  color: #454545
}

.quoteBtn {
  width: 100px;
  margin: 0 1.5rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 10px;
  font-family: 'Stylish', sans-serif;
  color:white;
  cursor: pointer;
  background-color: #FF6969;
}